# Dependency directories
node_modules/

# Build output
dist/

# Env files
.env
.env.local
.env.development.local
.env.test.local
.env.production.local

# Debug logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# IDE / Editor directories
.vscode/
.idea/
*.swp
*.swo

# System Files
.DS_Store
Thumbs.db

# Coverage directory
coverage/

# Prisma
prisma/migrations/
